.perfil-container {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.perfil-card {
  width: 350px;
  padding: 20px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.2);
}

.foto-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.foto-perfil {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #007bff;
}

.nombre {
  margin: 10px 0 5px;
  font-size: 24px;
  font-weight: bold;
}

.descripcion {
  font-size: 15px;
  opacity: 0.8;
}
.publicaciones-container {

  max-height: 400px;      /* podés ajustar este valor */
  overflow-y: auto;

  padding-right: 10px;    
}
.pub-imagen {
  width: 120px;        /* tamaño pequeño */
  height: 120px;       /* cuadrada */
  object-fit: cover;   /* evita deformaciones */
  border-radius: 8px;  /* bordes redondeados */
  margin-top: 10px;
}