<form class="card gap-2 p-3" [formGroup]="registroForm" (ngSubmit)="enviarFormulario()"> 
  <h1 class="h3 mb-3 fw-normal">Registro</h1>

  <!-- NOMBRE y APELLIDO -->
  <div class="dos-columnas">
    <div class="form-floating"> 
      <input type="text" class="form-control"
             [class.is-invalid]="registroForm.get('nombre')?.touched && registroForm.get('nombre')?.invalid"
             id="floatingName" placeholder="Nombre" formControlName="nombre"> 
      <label for="floatingName">Nombre</label> 
      <div class="invalid-feedback">El nombre es obligatorio</div>
    </div>

    <div class="form-floating"> 
      <input type="text" class="form-control"
             [class.is-invalid]="registroForm.get('apellido')?.touched && registroForm.get('apellido')?.invalid"
             id="floatingApellido" placeholder="Apellido" formControlName="apellido"> 
      <label for="floatingApellido">Apellido</label> 
      <div class="invalid-feedback">El apellido es obligatorio</div>
    </div>
  </div>

  <!-- EMAIL y USERNAME -->
  <div class="dos-columnas">
    <div class="form-floating">
      <input type="email" class="form-control"
             [class.is-invalid]="registroForm.get('correo')?.touched && registroForm.get('correo')?.invalid"
             id="floatingEmail" placeholder="name@example.com" formControlName="correo">
      <label for="floatingEmail">Email</label>
      <div class="invalid-feedback">Email inválido</div>
    </div>

    <div class="form-floating">
      <input type="text" class="form-control"
             [class.is-invalid]="registroForm.get('nombreUsuario')?.touched && registroForm.get('nombreUsuario')?.invalid"
             id="floatingUsername" placeholder="Nombre de usuario" formControlName="nombreUsuario">
      <label for="floatingUsername">Nombre de usuario</label>
      <div class="invalid-feedback">El nombre de usuario es obligatorio</div>
    </div>
  </div>

  <!-- CONTRASEÑA y FECHA DE NACIMIENTO -->
  <div class="dos-columnas">
    <div class="form-floating"> 
      <input type="password" class="form-control"
            [class.is-invalid]="registroForm.get('contrasena')?.touched && registroForm.get('contrasena')?.invalid"
            id="floatingPassword" placeholder="Password" formControlName="contrasena">
      <label for="floatingPassword">Contraseña</label>

      <div class="invalid-feedback" *ngIf="registroForm.get('contrasena')?.hasError('required')">
        La contraseña es obligatoria
      </div>
      <div class="invalid-feedback" *ngIf="registroForm.get('contrasena')?.hasError('minlength')">
        La contraseña debe tener al menos 8 caracteres
      </div>
      <div class="invalid-feedback" *ngIf="registroForm.get('contrasena')?.hasError('passwordFuerte')">
        La contraseña debe tener al menos una letra mayúscula y un número
      </div>
    </div>

    <div class="form-floating">
      <input type="date" class="form-control" id="floatingFechaNacimiento"
            placeholder="Fecha de Nacimiento" formControlName="fechaNacimiento">
      <label for="floatingFechaNacimiento">Fecha de Nacimiento</label>
    </div>
  </div>


  <!-- DESCRIPCIÓN -->
  <div class="form-floating">
    <textarea class="form-control" id="floatingDescripcion"
              placeholder="Descripcion" formControlName="descripcion" style="height: 100px"></textarea>
    <label for="floatingDescripcion">Descripción</label>
  </div>

  <!-- IMAGEN DE PERFIL -->
  <div class="form-floating">
    <input type="file" accept="image/*" class="form-control"
           id="floatingImagen" (change)="onFileSelected($event)"
           [class.is-invalid]="">
    <label for="floatingImagen">Imagen de perfil</label>
    <div class="invalid-feedback">Debe subir una imagen válida</div>
    <div *ngIf="imagenUrl" class="mt-2">
      <img [src]="imagenUrl" alt="Vista previa" style="max-width: 150px; border-radius: 8px;">
    </div>
  </div>
  
  <button class="btn btn-primary w-100 py-2" type="submit" [disabled]="!registroForm.valid ">
    Registrarse
  </button>
</form>
